px2rem( $px )
  $px/(750/10)rem

$red = #fe9f28
$gray = #b2b2b2
$black = #323232



bg-image($url)
  background-image: url($url + "@2x.png")
  background-repeat: no-repeat
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

borderTop($color)
  position: relative
  &:before
    display: block
    position: absolute
    left: 0
    top: 0
    width: 100%
    border-top: 1px solid $color
    content: ' '
    @media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
      -webkit-transform: scaleY(0.7)
      transform: scaleY(0.7)
    @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
      -webkit-transform: scaleY(0.3)
      transform: scaleY(0.3)
borderBottom($color)
  position: relative
  &:after
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    border-top: 1px solid $color
    content: ' '
    @media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
      -webkit-transform: scaleY(0.7)
      transform: scaleY(0.7)
    @media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
      -webkit-transform: scaleY(0.3)
      transform: scaleY(0.3)




.rangeclass
  padding:px2rem(30) 0 px2rem(30) 0
  .vux-range-input-box
    margin:0 px2rem(80) !important
  .range-bar
    background-color:#f0f0f0
    height:px2rem(10) !important
    border-radius:px2rem(5)
  .range-quantity
    background-color:#ffa414
  .range-handle
    top:px2rem(-30) !important
    width: px2rem(58)
    height: px2rem(58)
    border:transparent solid px2rem(5)
    background:transparent
    box-shadow:none
    &:after
      content :''
      position: absolute
      top: px2rem(13)
      left: px2rem(-5)
      width:px2rem(26)
      height:px2rem(26)
      border:#ffb323 solid px2rem(5)
      background:#fff
      border-radius:50%
  .range-min
    top:px2rem(-30)
    left:px2rem(-10)
    font-size:px2rem(24)
    color: #999
  .range-max
    top:px2rem(-30)
    right:px2rem(0)
    font-size:px2rem(24)
    color: #999
